*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
display: flex;
justify-content: center;
align-items: center;
}
.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 700px;
    height: 700px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.question {
    font-weight: bold;
    margin-bottom: 10px;
}
.choices{
}
.choices button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color:rgb(243,248,236);
    border: 1px solid #ddd;
    cursor: pointer;
}
