.main{
    /* display: grid;
    /* grid-template-rows: 100% 1fr  ;
    grid-template-columns: 1fr 2fr 1fr; */ 
    margin-left: 35%;
    margin-top: 10%;
}
.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.question {
    font-weight: bold;
    margin-bottom: 10px;
}
.choices button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
}